#header {
  position: fixed;
  top:0;
  width: 100%;
  background-color: blue;
}

.logo {
  display: inline-block;
  text-align: right;
}

.logo_contain {
  display: inline-block;
  text-align: left;
}

#nav-bar {
  display: inline-block;
  text-align: right;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  float: left;
  border-right: 1px solid #bbb;
}

nav ul li a {
  display: block;
  padding: 14px;
  font-size: 1.5em;
  text-decoration: none;
  text-align: center;
}

img {
  max-width: 40px;
  max-height: 40px;
}

@media (max-width: 1023px){
  #video{
    width: 100%;
    margin: 10px;
    padding: 5px;
    height: auto;
  }
}

#product {
  display: flex;
}
<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
